@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-main: #F9F9FB;
  --background: #ffffff;
  --foreground: #171717;
  --color-text: #424257;
  --color-text-l: #8B8BA7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: var(--background-main);
}

section{
  background-color: white;
  /* padding: 24px; */
  border-radius: 24px;
  margin-top: 16px;
}

h1, h2, h3, .my-black {
  font-family: var(--font-inter), sans-serif;
  color: var(--color-text)
}
p{
  color: var(--color-text-l)
}

code, pre {
  font-family: var(--font-geist-mono), monospace;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-ticker {
  animation: ticker 20s linear infinite;
}

.animate-ticker:hover {
  animation-play-state: paused;
}


.slick-dots li button:before {
  color: #4a5568; /* Gray-600 */
}

.slick-dots li.slick-active button:before {
  color: #3182ce; /* Blue-500 */
}