@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-main: #F9F9FB;
  --background: #ffffff;
  --foreground: #171717;
  --color-text: #424257;
  --color-text-l: #8B8BA7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: var(--background-main);
}

section{
  background-color: white;
  padding: 24px;
  border-radius: 24px;
}

h1, h2, h3, .my-black {
  font-family: var(--font-inter), sans-serif;
  color: var(--color-text)
}
p, a{
  color: var(--color-text-l)
}

code, pre {
  font-family: var(--font-geist-mono), monospace;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-ticker {
  animation: ticker 30s linear infinite;
}

.animate-ticker:hover {
  animation-play-state: paused;
}


.slick-dots li button:before {
  color: #4a5568; /* Gray-600 */
}

.slick-dots li.slick-active button:before {
  color: #3182ce; /* Blue-500 */
}

/* Custom slider container */
.custom-slider-container .slick-track {
  display: flex;
  animation: scrollAnimation 140s linear infinite;
}

.custom-slider-container:hover .slick-track {
  animation-play-state: paused; /* Stop instantly on hover */
}

/* Continuous scroll animation */
@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Scroll half width for duplicates */
  }
}

.slide {
  min-width: 300px; 
  margin: 0 10px;
  background-color: #ccc;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
}